body {
    margin-left: 3%;
    margin-right: 3%;
}

.navbar {
    padding-top: 3%;
}

.footer{
    background: url(../images/background.png) no-repeat center center fixed;
    background-size: cover;
    text-align: center;
    margin-top: 63%
}

.container{
    margin-top: 3%;
    padding-top: 5%;
    color: #fff;
    font-size:12px;
}

h5 {
    padding-left: 10%;
    padding-top: 5%;
}