<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/favoriteRecipePage.css">
    <title>Recipes</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">More Recipes</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Favourite Recipes</a>
      </li>
    </ul>
  </div>
</nav>
    <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="../images/persian rice.png" alt="persian rice">
            <div class="card-body">
                <h4 class="card-title">Persian Rice</h4>
                <p class="card-text">Chef John's recipe for Persian rice, made with a pinch of saffron, will have you producing perfect results every time.</p>
                <p class="card-text text-right"><small class="text-muted">Recipe by James</small></p>
                <a href="#" class="btn btn-success">Read more</a>
                <span class="downvote"><img src="../images/downvote.png" width="30" height="30" alt="downvote"> </span>
                <span class="upvote"><img src="../images/upvote.png" width="30" height="30" alt="upvote"> </span>
                <span class="upvote"><img src="../images/favorite.png" width="30" height="30" alt="favorite"> </span>
            </div>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Review </button>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Review</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="post-form">
                                <textarea></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Post</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="../images/dessert salad.png" alt="dessert salad">
            <div class="card-body">
                <h4 class="card-title">Delight Dessert Salad</h4>
                <p class="card-text">A fun salad that kids, and just about everyone else, will love. Fruit cocktail, grapes, mandarin oranges,
                    whipped topping and mini marshmallows, are stirred together and chilled. Serves eight.</p>
                <p class="card-text text-right"><small class="text-muted">Recipe by Anne</small></p>
                <a href="#" class="btn btn-success">Read more</a>
                <span class="downvote"><img src="../images/downvote.png" width="30" height="30" alt="upvote"> </span>
                <span class="upvote"><img src="../images/upvote.png" width="30" height="30" alt="upvote"> </span>
                <span class="upvote"><img src="../images/favorite.png" width="30" height="30" alt="favorite"> </span>
            </div>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Review </button>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Review</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="post-form">
                                <textarea></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Post</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="../images/rice pudding.png" alt="rice pudding">
            <div class="card-body">
                <h4 class="card-title">Rice Pudding</h4>
                <p class="card-text">With golden raisins and a pinch of nutmeg or cinnamon, this creamy, classic rice pudding makes a quick and
                    easy dessert that everyone will love.</p>
                <p class="card-text text-right"><small class="text-muted">Recipe by Joy</small></p>
                <a href="#" class="btn btn-success">Read more</a>
                <span class="downvote"><img src="../images/downvote.png" width="30" height="30" alt="upvote"> </span>
                <span class="upvote"><img src="../images/upvote.png" width="30" height="30" alt="upvote"> </span>
                <span class="upvote"><img src="../images/favorite.png" width="30" height="30" alt="favorite"> </span>
            </div>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Review </button>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Review</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="post-form">
                                <textarea></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Post</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
    </div> </br>

    </br>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h6>Support</h6>
                    <a href="#">Contact Us</a>
                </div>
                <div class="col">
                    <h6>About Us</h6>
                    <a href="#">Newsroom</a>
                    <p>© 2017 Morerecipes.com </p>
                    <p>All Rights Reserved</p>
                </div>
                <div class="col">
                    <h6>Advertising</h6>
                    <a href="#">Advertise with Us</a>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>

</html>