<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/loginPage.css">
    <title>Login</title>
</head>

<body>

    <div class="header">
        <h4> Login</h4>
    </div>

    <form>
        <div class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="input-group">
            <a href="#" class="btn btn-outline-success btn-lg btn-block">Login</a>
        </div>
        <div class="join">
            <a href="#">New to More Recipes? Join Free!</a>
        </div>
    </form>

    <div class="footer">
        <div class="row">
            <div class="col">
                <h6>Support</h6>
                <a href="#">Contact Us</a>
            </div>
            <div class="col">
                <h6>About Us</h6>
                <a href="#">Newsroom</a>
                <p>© 2017 Morerecipes.com </p>
                <p>All Rights Reserved</p>
            </div>
            <div class="col">
                <h6>Advertising</h6>
                <a href="#">Advertise with Us</a>
            </div>
        </div>
    </div>
</body>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>

</html>
