<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/profilePage.css">
    <title>Profile</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">More Recipes</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Favourite Recipes</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class=" row-profile">
            <div class="col-md-3">
                <div class="profile-sidebar">
                    <div class="profile-userpic">
                        <img src="images/picture.png" alt="" class="imr-responsive img-circle" width="300" height="300" alt="picture">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h5> Name: Joy Bruce </h5>
    <h5> Email: joybruce@gmail.com </h5>
    </div>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h6>Support</h6>
                    <a href="#">Contact Us</a>
                </div>
                <div class="col">
                    <h6>About Us</h6>
                    <a href="#">Newsroom</a>
                    <p>© 2017 Morerecipes.com </p>
                    <p>All Rights Reserved</p>
                </div>
                <div class="col">
                    <h6>Advertising</h6>
                    <a href="#">Advertise with Us</a>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>

</html>