.header-login {
    width: 30%;
    margin: 15% auto 0px;
    color: #fff;
    background: #00A859;
    text-align: center;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
}
.header-signup {
    width: 30%;
    margin: 8% auto 0px;
    color: #fff;
    background: #D54239;
    text-align: center;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
}
.form {
    width: 30%;
    margin: auto;
    padding: 20px;
    background: #fff;
    border-radius: 0px 0px 10px 10px;
}

.input-group {
    margin: 10px 0px 10px 0px;
}

// .btn {
//    padding: 10px;
// }

.join {
    text-align: center;
}

.navbar {
    padding-top: 2%;
    padding-right: 4%;
    padding-left: 4%;
}

.jumbotron {
    text-align: center;
    margin-left: 3%;
    margin-right: 3%;
}

h5 {
    margin-top: 2%;
    font-family: 'Roboto', sans-serif;
    font-family: 'Baloo Bhaijaan', cursive;
    font-size: 28px;
    margin-left: 20%;
    margin-right: 20%;
}

.show-off {
    font-size: 20px;
}

#carouselExampleControls{
    margin-left: 4%;
    margin-right: 4%;
}

.footer{
    background-color: #3F3F3F;
    margin-top: 68%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 5%;
    text-align: center;
    color: #fff;
    font-size:12px;
}
